.wp-block-navigation {
	font-size: var( --wp--preset--font-size--medium );
	letter-spacing: 0.2em;
	text-transform: uppercase;

	a {
		color: var( --wp--preset--color--contrast-3 );
		text-decoration: none;
		transition: color 0.4s ease;

		&:hover {
			color: var( --wp--preset--color--contrast-2 );
		}
	}
}

.wp-block-query-pagination {
	margin-right: 0 !important;
	margin-left: 0 !important;
	max-width: 100%;

	.wp-block-query-pagination-numbers {
		display: flex;
		gap: .5rem;
	}

}
